.login-form {
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 100000;
}
.name{
  color: #000;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  padding-bottom: 10px;
}
.login-form input {
  padding: 5px;
  margin: 10px 0;
}

.login-button, .login-cancel {
  border: 0;
  line-height: 28px;
  cursor: pointer;
}

.login-button {
  margin-top: 15px;
  background-color: #212121;
  color: white;
}
.login-button:hover,.login-cancel:hover{
  color:yellow
}

.login-cancel {
  box-sizing: border-box;
  margin-top: 5px;
  background-color: #fff;
  border: 2px solid black;
}
